.CartCard {
  min-width: 300px;
  color: #404040;
}

.CartCard .card-content {
  margin: 20px;
  border: 1px solid silver;
  border-radius: 5px;
}

.CartCard .card-img {
  position: relative;
  background-color: whitesmoke;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0 0;
}

.CartCard .card-img .delete-cart {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ffa8a8;
  color: darkred;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.CartCard .card-img .delete-cart .delete-msg {
  margin: 0 8px;
  display: none;
}

@keyframes animate-delete {
  from {
    width: 30px;
  }
  to {
    width: 110px;
  }
}

.CartCard .card-img .delete-cart:hover {
  width: 110px;
  animation-name: animate-delete;
  animation-duration: 0.5s;
}

.CartCard .card-img .delete-cart:hover .delete-msg {
  display: block;
}

.CartCard .card-img .delete-cart .delete-X {
  background-color: #ed4337;
  color: darkred;
  min-width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid darkred;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CartCard .card-img .svg-container {
  width: 100px;
  height: 100px;
}

.CartCard .card-body {
  margin: 10px;
}

.CartCard .card-body h3 {
  margin: 10px 0;
}

.CartCard .card-body hr {
  height: 1px;
  background-color: silver;
  border: none;
  margin-bottom: 10px;
}

.CartCard .card-body a {
  display: block;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  background-color: lightblue;
  border-radius: 5px;
  cursor: pointer;
}
