footer {
  background-color: #303030;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  color: silver;
  display: flex;
  justify-content: end;
  align-items: center;
}
footer p {
  margin-right: 20px;
}
