* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background-color: #303030;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  background-color: silver;
  /* opacity: 0.8; */
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  color: #404040;
  cursor: pointer;
}

nav ul li:first-of-type {
  margin-left: 50px;
}

nav ul li a {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

nav ul li svg {
  width: 80px;
  height: 50px;
}

.MainPage,
.CartDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content .content-title {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 600;
  padding: 10px 0;
  margin: 20px 0;
  border-bottom: 1px solid silver;
  color: #404040;
}

.content .content-title button {
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #90ee90;
  color: green;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

@keyframes animate-add {
  from {
    width: 40px;
  }
  to {
    width: 160px;
  }
}

.MainPage .content .content-title button:hover {
  width: 160px;
  animation-name: animate-add;
  animation-duration: 0.5s;
}

.MainPage .content .content-title button:hover .add-msg {
  display: block;
}

.MainPage .content .content-title .add-plus {
  min-width: 40px;
  height: 40px;
  font-size: 22px;
  background-color: #53d353;
  border: 2px solid green;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainPage .content .content-title .add-msg {
  white-space: nowrap;
  margin: 0 14px;
  display: none;
}

.MainPage .content .carts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.CartCard {
  min-width: 300px;
  /* float: left; */
  color: #404040;
}

.CartCard .card-content {
  margin: 20px;
  border: 1px solid silver;
  border-radius: 5px;
}

.CartCard .card-img {
  position: relative;
  background-color: whitesmoke;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0 0;
}

.CartCard .card-img .delete-cart {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ffa8a8;
  color: darkred;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.CartCard .card-img .delete-cart .delete-msg {
  margin: 0 8px;
  display: none;
}

@keyframes animate-delete {
  from {
    width: 30px;
  }
  to {
    width: 110px;
  }
}

.CartCard .card-img .delete-cart:hover {
  width: 110px;
  animation-name: animate-delete;
  animation-duration: 0.5s;
}

.CartCard .card-img .delete-cart:hover .delete-msg {
  display: block;
}

.CartCard .card-img .delete-cart .delete-X {
  background-color: #ed4337;
  color: darkred;
  min-width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid darkred;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CartCard .card-img .svg-container {
  width: 100px;
  height: 100px;
}

.CartCard .card-body {
  margin: 10px;
}

.CartCard .card-body h3 {
  margin: 10px 0;
}

.CartCard .card-body hr {
  height: 1px;
  background-color: silver;
  border: none;
  margin-bottom: 10px;
}

.CartCard .card-body a {
  display: block;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  background-color: lightblue;
  border-radius: 5px;
  cursor: pointer;
}

.AddCartCard {
  min-width: 260px;
  height: 372px;
  color: #404040;
  margin: 20px;
  border: 1px solid silver;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #90ee90;
  cursor: pointer;
}

.AddCartCard svg {
  margin: 50px;
  width: 100px;
  height: 100px;
}

.AddCartCard h1 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #53d353;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin-bottom: 30px;
}

.CartDetails .content .content-title button {
  width: 100px;
  background-color: #404040;
  color: silver;
  justify-content: center;
}

.CartDetails .content .details {
  width: 1200px;
}

.CartDetails .content .details table {
  border-collapse: collapse;
  width: 1000px;
  margin: 20px 100px;
}

.CartDetails .content .details table thead {
  background-color: whitesmoke;
}

.CartDetails .content .details table tr .empty-noborder {
  border: none;
}

.CartDetails .content .details table td,
th {
  /* width: 150px; */
  padding: 10px 10px;
  text-align: center;
  border-bottom: 1px solid silver;
}

.CartDetails .content .details table td:first-child,
th:first-child {
  width: 500px;
  text-align: start;
}
